.card__link {
  display: flex;
  margin: 0;
  color: var(--color-text-secondary);
  font-weight: 500;
  text-decoration: none;
  outline: none;
  transition: color .3s ease;
}

.card__link:hover,
.card__link:focus {
  color: var(--color-link-hover);
}

.card__link:active {
  color: var(--color-link-active);
}

@media screen and (max-width: 500px) {
  .card__link {
    font-size: var(--text-size-s);
  }
}
