.section {
  padding: 60px 0;
}

@media screen and (max-width: 724px) {
  .section_size_narrow {
    max-width: calc(100% - var(--gap) * 2);
    margin: 0 auto;
  }

  .section_size_wide {
    max-width: 100%;
  }
}
