.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: calc(var(--gap) / 2);
  grid-row-gap: calc(var(--gap) / 2);
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 724px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
