.section-title {
    margin: 0 0 35px;
    font-size: var(--text-size-xl);
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-text-primary);
}


@media screen and (max-width: 724px) {
  .section-title_place_projects {
    margin: 0 0 35px var(--gap);
  }
}
