.card__image {
  height: 270px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  filter: grayscale(40%);
}

.card__image_project_how-to-learn {
  object-position: top left;
}

.card__image-link:hover .card__image,
.card__image-link:focus .card__image {
  filter: grayscale(0);
  transform: scale(1.05);
}

.card__image {
  transition: filter .5s ease, transform .5s ease;
}

@media screen and (max-width: 1024px) {
  .card__image {
    filter: grayscale(0);
  }
}

@media screen and (max-width: 500px) {
  .card__image {
    height: 282px;
  }
}

@media screen and (max-width: 394px) {
  .card__image {
    height: 200px;
  }
}

