.intro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 724px) {
  .intro {
    max-width: calc(100% - var(--gap) * 2);
    margin: 0 auto;
  }
}
